#menu-fix-top {
	position: fixed;
	right: 0;
	top: 5%;
	margin-top: -2.5em;
	/*
	width: 8em;
	color: white;
	font-size: large;
	text-align: left;
	font-weight: bold;
https://www.w3.org/Style/Examples/007/menus.en.html#L384
	*/
	background: hsla(80, 90%, 40%, 0.7);
	border: solid hsla(80, 90%, 40%, 0.5);
	border-right: none;
	padding: 0.1em 0.5em 0.1em 1.5em;
	box-shadow: 0 1px 3px black;
	border-radius: 3em 0.5em 0.5em 3em;
}

ul.navbar_horizontal_gray {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid #e7e7e7;
	background-color: #f3f3f3;
}
ul.navbar_horizontal_gray li {
	float: left;
}

ul.navbar_horizontal_gray li a {
	display: block;
	color: #666;
	text-align: center;
	text-decoration: none;
	padding: 4px 8px;
	/*
	padding: 14px 16px;
	*/
}
ul.navbar_horizontal_gray  li a:hover:not(.active ) {
	background-color: #ddd;
}

ul.navbar_horizontal_gray li a.active {
	color: white;
	background-color: #4CAF50;
}
