<div
	ng-repeat="chainElementId in getBpmnInit(bpmnNr).processChains[chainStartOutgoingId]"
	ng-if="isChainPEToViewForVariableClick(getBpmnInit(bpmnNr).bpmnProcessElements[chainElementId])"
	ng-init="
	processBranches = getBpmnInit(bpmnNr).processBranches[chainElementId];
	chainElement = getBpmnInit(bpmnNr).bpmnProcessElements[chainElementId];
	branches = chainElement.childrenNamed('bpmn:outgoing');
	"
	>
	<span
		ng-if="isPEToRuleSequenceFlow(chainElement)"
		ng-init="businessRuleTask = getBpmnInit(bpmnNr).bpmnProcessElements[chainElement.attr.targetRef];
	dmnIndex = dmnIndexMap[businessRuleTask.attr['camunda:decisionRef']];
	nextDmn = obj.data.init.camundaAppendix.dmn[dmnIndex];
	">
	<span title="{{chainElementId}}"> {{level}} </span> <span
		ng-repeat="output in nextDmn.xmldoc.descendantWithPath('decision.decisionTable').childrenNamed('output')"
		ng-init="outputIndex = $index"> {{output.attr.label}}:
			{{output.attr.description}} </span>
	</span> 
	<span ng-if="branches.length > 1" ng-init="level = level + '-'"
		ng-include="'/h/dev/sah/p5-view/app/ui/useFlowAsTree2/branche-EMR.html'">
	</span>
	<div ng-if="processBranches.merger">
		<div
			ng-repeat="(chainStartOutgoingId, mergerBranche) in processBranches.merger">
			<div
				ng-include="'/h/dev/sah/p5-view/app/ui/useFlowAsTree2/chain-EMR.html'">
			</div>
		</div>
	</div>
</div>
