<li
	ng-repeat="chainElementId in getBpmnInit(bpmnNr).processChains[chainStartOutgoingId]"
	ng-init="
	processBranches = getBpmnInit(bpmnNr).processBranches[chainElementId];
	chainElement = getBpmnInit(bpmnNr).bpmnProcessElements[chainElementId];
	branches = chainElement.childrenNamed('bpmn:outgoing');
	"
	ng-if="isChainPEToViewForVariableClick(getBpmnInit(bpmnNr).bpmnProcessElements[chainElementId])">
	<span
	ng-if="getConfigParameter(bpmnNr, chainElement, 'openParallelGateway') == 'no'"><a
		ng-click="openParallelGatewayAsOneTable(bpmnNr, chainElement)"
		class="btn btn-default btn-xs"> <i aria-hidden="true"
			class="fa fa-plus-square-o"></i>
	</a> {{getProcessElementName(bpmnNr, chainElementId)}} </span>
	<div ng-if="isPEToRuleSequenceFlow(chainElement)"
	ng-init="businessRuleTask = getBpmnInit(bpmnNr).bpmnProcessElements[chainElement.attr.targetRef];
	dmnIndex = dmnIndexMap[businessRuleTask.attr['camunda:decisionRef']];
	nextDmn = obj.data.init.camundaAppendix.dmn[dmnIndex];
	"
	><div
			ng-repeat="output in nextDmn.xmldoc.descendantWithPath('decision.decisionTable').childrenNamed('output')"
			ng-init="outputIndex = $index">
			<div class="">
			<a ng-if="firstBranche"
			ng-click="openParallelGatewayAsOneTable(bpmnNr, chainParentElement)"
			 class="btn btn-default btn-xs"> <i
				class="fa fa-minus-square-o" aria-hidden="true"></i>
			</a>
			<a> {{output.attr.label}}: </a>
			{{output.attr.description}}
				<div class="">
					<span
					ng-init="dmnInputs = nextDmn.xmldoc.descendantWithPath('decision.decisionTable')
						.childrenNamed('input')"
						ng-include="'/h/dev/sah/p5-view/app/ui/useFlowAsTree2/inputsDmnInputs.html'"
					></span>
					<br /> 
					<span
						ng-repeat="rule in nextDmn.xmldoc.descendantWithPath('decision.decisionTable')
						.childrenNamed('rule')">
						| 
							<a ng-click="setRuleIndexUserSelected(nextDmn, $index)"
						ng-class="[{'alert-success': evalRuleFromOwnDmnInputs(nextDmn, rule)}
						,{'bold':isRuleNrUserSelected(nextDmn, $index)}]"
						title="{{rule.childrenNamed('outputEntry')[outputIndex].descendantWithPath('text').val
						+ ' - ' + rule.childrenNamed('inputEntry')[outputIndex].descendantWithPath('text').val
						}}">
							{{rule.descendantWithPath('description').val}} </a>
					</span>
				</div>
			</div>
	</div></div>
	<div
		ng-if="getConfigParameter(bpmnNr, chainElement, 'openParallelGateway') != 'no'">
		<ol ng-if="branches.length > 1"
			ng-include="'/h/dev/sah/p5-view/app/ui/useFlowAsTree2/brancheOlUseFlowTree.html'">
		</ol>
	</div>
	<div ng-if="processBranches.merger">
		<div
			ng-repeat="(chainStartOutgoingId, mergerBranche) in processBranches.merger">
			<ul ng-include="'/h/dev/sah/p5-view/app/ui/useFlowAsTree2/chainUlUseFlowTree.html'">
			</ul>
		</div>
	</div>
</li>
