<div
	ng-repeat="chainElementId in getBpmnInit(bpmnNr).processChains[chainStartOutgoingId]"
	ng-init="
	processBranches = getBpmnInit(bpmnNr).processBranches[chainElementId];
	chainElement = getBpmnInit(bpmnNr).bpmnProcessElements[chainElementId];
	branches = chainElement.childrenNamed('bpmn:outgoing');
	"
	ng-if="isChainPEToViewForVariableClick(getBpmnInit(bpmnNr).bpmnProcessElements[chainElementId])">
	<span ng-if="isScriptTaskPE(chainElement) && chainElement.attr.value">
		{{chainElement.attr.name}} {{chainElement.attr.value}} </span> 
	<span ng-if="isExclusiveGatewayPE(chainElement)"
	ng-init="
	incomingSequenceFlow = getBpmnInit(bpmnNr).bpmnProcessElements[chainElement.firstChild.val];
	businessRuleTask = getBpmnInit(bpmnNr).bpmnProcessElements[incomingSequenceFlow.attr.sourceRef];
	dmnIndex = dmnIndexMap[businessRuleTask.attr['camunda:decisionRef']];
	nextDmn = obj.data.init.camundaAppendix.dmn[dmnIndex];
	dmnOutput = nextDmn.xmldoc.descendantWithPath('decision.decisionTable.output');
	"
	>
	<span
		ng-repeat="executiveGatewayOutgoing in chainElement.childrenNamed('bpmn:outgoing')"
		ng-init="egOutgoingSequenceFlow = getBpmnInit(bpmnNr).bpmnProcessElements[executiveGatewayOutgoing.val]"
		>
			<span
			title="{{dmnOutput.attr.value}}"
			ng-if="evalLogicExpForOutputVariable(egOutgoingSequenceFlow.firstChild.val, dmnOutput)">
				{{egOutgoingSequenceFlow.attr.name}} <small> (
					{{egOutgoingSequenceFlow.firstChild.val}} ) </small>
		</span>
	</span>
	</span>
	<span
		ng-if="isPEToRuleSequenceFlow(chainElement)"
		ng-init="businessRuleTask = getBpmnInit(bpmnNr).bpmnProcessElements[chainElement.attr.targetRef];
	dmnIndex = dmnIndexMap[businessRuleTask.attr['camunda:decisionRef']];
	nextDmn = obj.data.init.camundaAppendix.dmn[dmnIndex];
	dmnOutput = nextDmn.xmldoc.descendantWithPath('decision.decisionTable.output');
	">
	<span ng-if="existRuleUserSelected(nextDmn)"> 
	<span
			title="{{chainElementId}}"> {{level}} </span> <span
			ng-if="nextDmn.xmldoc.descendantWithPath('decision.decisionTable').attr.ruleIndexesUserChooce"
			ng-init="ruleIndexesUserChooce = nextDmn.xmldoc.descendantWithPath('decision.decisionTable').attr.ruleIndexesUserChooce"
			>
				<span ng-repeat="ruleIndex in ruleIndexesUserChooce"
				ng-init="rule = nextDmn.xmldoc.descendantWithPath('decision.decisionTable')
						.childrenNamed('rule')[ruleIndex];">
					<span
					ng-init="menuName = rule.descendantWithPath('description').val;"
					ng-include="'/h/dev/sah/p5-view/app/ui/useFlowAsTree2/menu-pCheck-input.html'">
				</span>{{$last?'':', '}}<span ng-if="$last"> - <span
						ng-init="menuName = nextDmn.xmldoc.descendantWithPath('decision').attr.name;"
						ng-include="'/h/dev/sah/p5-view/app/ui/useFlowAsTree2/menu-pCheck-output.html'">
					</span></span>
			</span>
		</span> <span
			ng-if="nextDmn.xmldoc.descendantWithPath('decision.decisionTable').attr.ruleIndexUserChooce">
				<span
				ng-repeat="outputEntry in getRuleUserSelected(nextDmn).childrenNamed('outputEntry')"
				ng-if="outputEntry.firstChild.val"
				ng-init="output = nextDmn.xmldoc.descendantWithPath('decision.decisionTable').childrenNamed('output')[$index]">
					{{output.attr.label}}{{$last?': ':', '}} </span>
				{{getRuleUserSelected(nextDmn).firstChild.val}}
				<div ng-if="!equalInputToSelectedResult(nextDmn)">
					<span ng-init="dmnInputs = getSelectedRuleDmnInputs(nextDmn)"
						ng-include="'/h/dev/sah/p5-view/app/ui/useFlowAsTree2/inputsDmnInputs.html'">
					</span> <span class="alert-danger"> <span
						ng-if="!hasInputForRule(nextDmn)"> відсутні данні </span> <span
						ng-if="hasInputForRule(nextDmn)"> данні вказують на інші
							висновки </span>
					</span>
				</div>
		</span>
	</span>
	</span>
	<span ng-if="branches.length > 1" ng-init="level = level + '-'"
		ng-include="'/h/dev/sah/p5-view/app/ui/useFlowAsTree2/branche-pCheck.html'">
	</span>
	<div ng-if="processBranches.merger">
		<div
			ng-repeat="(chainStartOutgoingId, mergerBranche) in processBranches.merger">
			<div
				ng-include="'/h/dev/sah/p5-view/app/ui/useFlowAsTree2/chain-pCheck.html'">
			</div>
		</div>
	</div>
</div>
