<span
	ng-repeat="rule in nextDmn.xmldoc.descendantWithPath('decision.decisionTable')
						.childrenNamed('rule')">
	| <a ng-click="setRuleIndexUserSelected(nextDmn, $index)"
	ng-class="[{'alert-success': evalRuleFromOwnDmnInputs(nextDmn, rule)}
				,{'bold':isRuleNrUserSelected(nextDmn, $index)}]"
	title="{{rule.childrenNamed('outputEntry')[outputIndex].descendantWithPath('text').val
			+ ' - ' + rule.childrenNamed('inputEntry')[outputIndex].descendantWithPath('text').val
			}}">
		{{rule.descendantWithPath('description').val}} </a>
</span>