<!DOCTYPE html>
<html ng-app="DevFlowAsTreeApp" ng-controller="DevFlowAsTreeCtrl as myCtrl">
<head>
<title>{{obj.data.fileName}}</title>
<meta charset="utf-8">
<link href="/v/dmn/css/dmn-js.css" rel="stylesheet" />
<link href="/v/lib/css/jsoneditor.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="css/diagram-js.css" />
<link rel="stylesheet" href="vendor/bpmn-font/css/bpmn-embedded.css" />
<link rel="stylesheet" href="/v/css/navbar_horizontal_gray.css"/>
<link rel="stylesheet" href="/v/css/ui.css"/>
<link rel='stylesheet prefetch' href='/v/lib/css/font-awesome.min.css'/>
<link rel="stylesheet" href="/v/lib/css/bootstrap.min.css"></link>
<script src="/v/lib/js/bootstrap.min.js"></script>
<script src="/v/lib/js/jquery-2.2.4.min.js"></script>
<script src="/v/lib/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-10">
				<h1>devFlowAsTree</h1>
				<div class="row">
					<div class="col-md-11">
						<ul class="nav nav-tabs">
							<li
								ng-repeat="tabName in 'useFlowAsTree timeControl useFlowAsTree2 devVariables useFlowAsTable devFlowAsTree'.split(' ') "
								ng-class="{'active':view == tabName}"><a href="#"
								ng-click="setTabView(tabName)">{{tabName | translate}}</a></li>
						</ul>
					</div>
					<div class="col-md-1">shema</div>
				</div>

				<div ng-if="view == 'timeControl'">
					<div ng-include="'ui/timeDefinition/timeControl.html'"></div>
				</div>
				<div ng-if="view == 'devVariables'">
					<div
						ng-include="'/h/dev/sah/p5-view/app/ui/useFlowAsTree2/devVariables.html'">
					</div>
				</div>
				<div ng-if="view == 'useFlowAsTree2'">
					<div ng-repeat="bpmnNr in [0]">
						<div
							ng-repeat="chainStartOutgoing in getBpmnInit(bpmnNr).bpmnProcessElements[getBpmnInit(bpmnNr).config.startId]
	.childrenNamed('bpmn:outgoing')"
							ng-init="chainStartOutgoingId = chainStartOutgoing.val">
							<div class="row">
								<div class="col-md-6">
									<div class="hr_text">
										<hr>
										<span> <u> Історія хвороби </u>:
										</span>
									</div>
									<div ng-init="level = '-'"
										ng-include="'/h/dev/sah/p5-view/app/ui/useFlowAsTree2/chain-EMR.html'">
									</div>
								</div>
								<!-- 
								 style="background-color: #FCF8E3;border-right: 4px solid #009688;border-left: 4px solid #009688;"
								 -->
								<div class="col-md-6" style="background-color: #FCF8E3;">
									<div class="hr_text alert-warning">
										<hr>
										<span>Контроль дотримання протоколу:</span>
									</div>
									<div ng-init="level = '-'"
										ng-include="'/h/dev/sah/p5-view/app/ui/useFlowAsTree2/chain-pCheck.html'">
									</div>
								</div>
							</div>
							<div class="no-print">
								<div class="hr_text">
									<hr>
									<span>Протокол: <b> {{obj.data.protocolName}} </b>
									</span>
								</div>
								<div class="scroll">
									<ul
										ng-include="'/h/dev/sah/p5-view/app/ui/useFlowAsTree2/chainUlUseFlowTree.html'">
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div ng-if="view == 'useFlowAsTable'">
					<div ng-repeat="bpmnNr in [0]">
						<div
							ng-repeat="chainStartOutgoing in getBpmnInit(bpmnNr).bpmnProcessElements[getBpmnInit(bpmnNr).config.startId]
	.childrenNamed('bpmn:outgoing')"
							ng-init="chainStartOutgoingId = chainStartOutgoing.val">
							<div ng-include="'/h/dev/sah/p5-view/app/ui/useFlowAsTable.html'">
							</div>
						</div>
					</div>
				</div>

				<div ng-if="view == 'useFlowAsTree'">
					<div ng-init="bpmnNr = 0">
						<div
							ng-repeat="chainStartOutgoing in getBpmnInit(bpmnNr).bpmnProcessElements[getBpmnInit(bpmnNr).config.startId]
	.childrenNamed('bpmn:outgoing')"
							ng-init="chainStartOutgoingId = chainStartOutgoing.val">
							<ul
								ng-include="'/h/dev/sah/p5-view/app/ui/chainUlUseFlowTree.html'">
							</ul>
						</div>
					</div>
				</div>

				<div ng-if="view == 'devFlowAsTree'">
					{{getBpmnInit(0).config.startId}} ----
					<div ng-repeat="bpmnNr in [0]">
						<div
							ng-repeat="chainStartOutgoing in getBpmnInit(bpmnNr).bpmnProcessElements[getBpmnInit(bpmnNr).config.startId]
		.childrenNamed('bpmn:outgoing')"
							ng-init="chainStartOutgoingId = chainStartOutgoing.val">
							<ul ng-include="'/h/dev/sah/p5-view/app/ui/chainUl.html'">
							</ul>
						</div>
					</div>
					processChains =
					<ul>
						<li
							ng-repeat="(key, processChains) in getBpmnInit(0).processChains">
							{{key}} = {{processChains}}</li>
					</ul>
					processBranches=
					<ul>
						<li
							ng-repeat="(key, processBranche) in getBpmnInit(0).processBranches">
							{{key}}= {{processBranche}}</li>
					</ul>
					mergerBranches=
					<ul>
						<li
							ng-repeat="(key, mergerBranche) in getBpmnInit(0).mergerBranches">
							{{key}}= {{mergerBranche}}</li>
					</ul>
					mergerBranchesNumer= {{getBpmnInit(0).mergerBranchesNumer}}
				</div>

			</div>
			<div class="col-md-2 no-print">
				<div>
					<a href="/h/dev/sah/p5-view/dist/protocol6.html?p={{params.p}}">
						protocol </a>
				</div>
				<div>
				symbol/icons:
					<i class="fa fa-bars" aria-hidden="true"></i> <i
						class="fa fa-sitemap" aria-hidden="true"></i> <i
						class="fa fa-sitemap" aria-hidden="true"></i> <i
						class="fa fa-plus" aria-hidden="true"></i> <i
						class="fa fa-sitemap" aria-hidden="true"></i> <i
						class="fa fa-times" aria-hidden="true"></i> <i
						class="fa fa-list-alt" aria-hidden="true"></i> <i
						class="fa fa-sitemap fa-rotate-180" aria-hidden="true"></i> <i
						class="fa fa-circle-o" aria-hidden="true"></i> <i
						class="fa fa-circle-thin" aria-hidden="true"></i> <i
						class="fa fa-square-o" aria-hidden="true"></i> <i
						class="fa fa-toggle-off" aria-hidden="true"></i> <i
						class="fa fa-toggle-on" aria-hidden="true"></i> <i
						class="fa fa-times" aria-hidden="true"></i> <i class="fa fa-plus"
						aria-hidden="true"></i> <i class="fa fa-minus" aria-hidden="true"></i>
					<i class="fa fa-plus-circle" aria-hidden="true"></i> <i
						class="fa fa-minus-circle" aria-hidden="true"></i> <i
						class="fa fa-plus-square" aria-hidden="true"></i> <i
						class="fa fa-minus-square" aria-hidden="true"></i> <i
						class="fa fa-plus-square-o" aria-hidden="true"></i> <i
						class="fa fa-minus-square-o" aria-hidden="true"></i> <i
						class="fa fa-info-circle" aria-hidden="true"></i> <i
						class="fa fa-cog" aria-hidden="true"></i> <i class="fa fa-cogs"
						aria-hidden="true"></i> <i class="fa fa-folder" aria-hidden="true"></i>
					<i class="fa fa-folder-o" aria-hidden="true"></i> <i
						class="fa fa-folder-open" aria-hidden="true"></i> <i
						class="fa fa-folder-open-o" aria-hidden="true"></i> <i
						class="fa fa-language" aria-hidden="true"></i> <i
						class="fa fa-map-signs" aria-hidden="true"></i> <i
						class="fa fa-map-signs" aria-hidden="true"></i> <i
						class="fa fa-plus" aria-hidden="true"></i> <i
						class="fa fa-map-signs" aria-hidden="true"></i> <i
						class="fa fa-times" aria-hidden="true"></i> <b> <span
						class="glyphicon glyphicon-arrow-right"></span>3
					</b>
				</div>
				<div>
					<a href="https://en.wikipedia.org/wiki/ISO_8601">
					Час/період/інтервал
					</a>
					<div>
					R4/PT15M
					</div>
				</div>
				<div>
					Кольори ургентності:
					
					<ul>
					<li><span class="signal-R">R</span>::Розовий:одразу</li>
					<li><span class="signal-O">O</span>::Оранжевий: 10-15хв, 30хв</li>
					<li><span class="signal-Y">Y</span>::Жовтий: 30хв, 1-3г</li>
					<li><span class="signal-G">G</span>::Зелений:3-6г, 8г</li>
					<li><span class="signal-W">W</span>::Білий:</li>
					<li><span class="signal-B">B</span>::Голубий:летальний</li>
					</ul>
					
					<div>
					Кандидити з різних палітр:
						<table>
							<tr style="font-weight: bold;">
								<th rowspan="3"><a
									href="http://www.w3schools.com/colors/colors_ral.asp"> RAL
								</a></th>
								<td style="color:#fff;background-color:#a02128">R</td>
								<td style="color:#fff;background-color:#d4652f">O</td>
							"src/main/webapp/h/dev/sah/p5-view/app/devFlowAsTree.html"	<td style="color:#fff;background-color:#f7ba0b">Y</td>
								<td style="color:#fff;background-color:#317f43">G</td>
								<td style="color:#000;background-color:#f4f4f4">W</td>
								<td style="color:#fff;background-color:#154889">B</td>
							</tr>
							<tr>
								<td style="color:#fff;background-color:#a02128">R</td>
								<td style="color:#fff;background-color:#d4652f">O</td>
								<td style="color:#fff;background-color:#f7ba0b">Y</td>
								<td style="color:#fff;background-color:#317f43">G</td>
								<td style="color:#000;background-color:#f4f4f4">W</td>
								<td style="color:#fff;background-color:#154889">B</td>
							</tr>
							<tr>
								<td style="background-color:#a02128">R</td>
								<td style="background-color:#d4652f">O</td>
								<td style="background-color:#f7ba0b">Y</td>
								<td style="background-color:#317f43">G</td>
								<td style="background-color:#f4f4f4">W</td>
								<td style="background-color:#154889">B</td>
							</tr>
							<tr>
								<th>Wiki</th>
								<td style="background-color: #FFCBDB; color: inherit;">R</td>
								<td style="background-color: #FFA000; color: inherit;">O</td>
								<td style="background-color: #FFFF00; color: inherit;">Y</td>
								<td style="background-color: #00FF00; color: inherit;">G</td>
								<td style="background-color:; color: inherit;">W</td>
								<td style="background-color: #0000FF; color: inherit;">B</td>
							</tr>
							<tr>
								<th rowspan="2"><a
									href="http://www.w3schools.com/colors/colors_names.asp">CSS Names</a></th>
								<td style="background-color:Pink;">R</td>
								<td style="background-color:Orange;">O</td>
								<td style="background-color:Yellow;">Y</td>
								<td style="background-color:Green;">G</td>
								<td style="background-color:White;">W</td>
								<td style="background-color:Blue;">B</td>
							</tr>
							<tr>
								<td style="background-color:Pink;color:White;">R</td>
								<td style="background-color:Orange;color:White;">O</td>
								<td style="background-color:Yellow;color:White;">Y</td>
								<td style="background-color:Green;color:White;">G</td>
								<td style="background-color:White;">W</td>
								<td style="background-color:Blue;color:White;">B</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>


	{{getBpmnInit(0).parentIdToChilds[getBpmnInit(0).config.startId]}}

	<script src="./app.js"></script>
	<script src="/v/lib/js/angular-locale_uk.js"></script>
	<script src="/v/lib/js/angular-translate-my.min.js"></script>

</body>
</html>
