<!DOCTYPE html>
<html ng-app="P5DmnApp" ng-controller="P5DmnCtrl as myCtrl">
<head>
<meta charset="utf-8">
<link href="/v/dmn/css/dmn-js.css" rel="stylesheet" />
<link rel="stylesheet" href="/v/lib/css/bootstrap.min.css"></link>
</head>
<body>
	<h1 ng-bind="obj.data.protocolName">Protocol 4</h1>
	<div class="row">
		<div class="col-md-6">
			<button ng-click="saveFileTheDMN()">save</button>
			<a ng-click="saveFileTheDMN()"
				href="/h/dev/sah/p5-view/dist/protocol5.html{{addProtocolUrl()}}#/{{params.jsonpath}}">Перегляд
				всього протоколу</a>
		</div>
		<div class="col-md-6">
			<b>Hit Policy:</b> <a href="#" ng-click="addHitPolicySum()"> SUM
			</a> <span class="alert alert-danger"> Ignore all change between
				save. </span>
		</div>
	</div>
<div>
test
</div>

	<div id="dmn-canvas"></div>
	<script src="./app.js"></script>
</body>
</html>
