<!DOCTYPE html>
<html ng-app="Protocole5App" ng-controller="Protocole5Ctrl as myCtrl">
<head>
<title>{{obj.data.fileName}}</title>
<meta charset="utf-8">
<link href="/v/dmn/css/dmn-js.css" rel="stylesheet" />
<link href="/v/lib/css/jsoneditor.min.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="css/diagram-js.css" />
<link rel="stylesheet" href="vendor/bpmn-font/css/bpmn-embedded.css" />

<link rel="stylesheet" href="/v/css/navbar_horizontal_gray.css"/>
<link rel="stylesheet" href="/v/css/ui.css"/>
<link rel='stylesheet prefetch' href='/v/lib/css/font-awesome.min.css'/>
<link rel="stylesheet" href="/v/lib/css/bootstrap.min.css"></link>
</head>
<body>
	<div ng-include="'ui/menu.html'"></div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-10">
				<h1 id="doc_head" ng-bind="obj.data.protocolName">Protocole5App</h1>
				<div class="row well well-menu">
					<div class="col-md-10">
						<form class="form-inline" role="form">
							<button ng-click="saveFile()" class="btn btn-default btn-xs">
								<span class="glyphicon glyphicon-save"></span> {{'save' |
								translate}}
							</button>
							<div class="form-group">
								<input class="form-control" type="text"
									ng-model="obj.data.protocolName" /> <a href="#"></a> <label>json
									<input type="checkbox" ng-model="useJsonEditor"
									ng-click="editJson()" />
								</label>
							</div>
						</form>
					</div>
					<div class="col-md-2">
						<button ng-click="deployFile()"
							class="btn btn-default btn-xs form-control"
							style="vertical-align: middle;">
							<i class="fa fa-cogs" aria-hidden="true"></i> {{'deploy' |
							translate}}
						</button>
					</div>
				</div>
				<div ng-show="!useJsonEditor">
					<div ng-repeat="(k,v) in obj.data">
						<div ng-switch on="k">
							<p ng-switch-when="p">{{v}}</p>
							<div ng-switch-when="home">Home Span</div>
							<div class="animate-switch" ng-switch-default></div>
						</div>
					</div>
					<div ng-repeat="editorBpmnNr in [0,1,2,3,4]"
						ng-if="obj.data.init.camundaAppendix.bpmn[editorBpmnNr]"
						ng-init="bpmnInit = obj.data.init.camundaAppendix.bpmn[editorBpmnNr];
								nodeTree = obj.data.init.camundaAppendix.bpmn[editorBpmnNr].nodeTree">
						<div
							ng-include="'/h/dev/sah/p5-view/app/verticalBpmnTables.html'"></div>
							<!-- 
							ng-include="'/h/dev/sah/p5-view/app/ui/verticalBpmnTables.html'"></div>
							 -->
					</div>
					<hr />
					<h2>{{'appendix' | translate}}</h2>
					<div id="bpmn-canvas-0">
						<div ng-repeat="editorBpmnNr in [0]"
							ng-if="obj.data.init.camundaAppendix.bpmn[0]"
							ng-init="bpmnInit = obj.data.init.camundaAppendix.bpmn[0]"
							ng-include="'/h/dev/sah/p5-view/app/ui/editorBpmn.html'"></div>
					</div>
					<div id="bpmn-canvas-1">
						<div ng-repeat="editorBpmnNr in [1]"
							ng-if="obj.data.init.camundaAppendix.bpmn[1]"
							ng-init="bpmnInit = obj.data.init.camundaAppendix.bpmn[1]"
							ng-include="'/h/dev/sah/p5-view/app/ui/editorBpmn.html'"></div>
					</div>
					<div id="bpmn-canvas-2"></div>
					<div id="bpmn-canvas-3"></div>
					<div id="bpmn-canvas-4"></div>
					<hr />
					<div id="dmn-canvas-0"></div>
					<div id="dmn-canvas-1"></div>
					<div id="dmn-canvas-2"></div>
					<div id="dmn-canvas-3"></div>
					<div id="dmn-canvas-4"></div>
					<div id="dmn-canvas-5"></div>
					<div id="dmn-canvas-6"></div>
					<div id="dmn-canvas-7"></div>
					<div id="dmn-canvas-8"></div>
					<div id="dmn-canvas-9"></div>
					<div id="dmn-canvas-10"></div>
					<hr />
				</div>
				<div id="jsoneditor" ng-show="useJsonEditor"></div>
			</div>
		</div>
	</div>

	<script src="./app.js"></script>
	<script src="/v/lib/js/angular-translate-my.min.js"></script>
</body>
</html>
