<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Spring Security Example</title>
</head>
<body>
	<h1>Welcome!</h1>

	<p>
		Click <a th:href="@{/hello}">here</a> to see a greeting.
	</p>
	--
	<span th:text="#{global_language}"></span> --
	<span th:text="#{welcome_text}"></span>

	<p>
		locale : <a href="?locale=ua">Ukrainish</a>|<a href="?locale=en">English</a>|<a
			href="?locale=de">German</a>
			||
			<a href="/home">home</a>
	</p>
</body>
</html>