<li
	ng-repeat="chainElementId in getBpmnInit(bpmnNr).processChains[chainStartOutgoingId]"
	ng-init="
	processBranches = getBpmnInit(bpmnNr).processBranches[chainElementId];
	chainElement = getBpmnInit(bpmnNr).bpmnProcessElements[chainElementId];
	branches = chainElement.childrenNamed('bpmn:outgoing');
	">
	<span ng-if="isBranchePE(chainElement)"> <i
		class="fa fa-sitemap" aria-hidden="true"></i>
	</span>
	<span ng-if="isMergerPE(chainElement)"> 
		<i class="fa fa-sitemap fa-rotate-180" aria-hidden="true"></i>
	</span>
	{{isChainPEToView(chainElement)}}
	{{isPEUserToRuleSequenceFlow(chainElement)}}
	{{isPEEndEvent(chainElement)}} 
	{{isBranchePE(chainElement)}}
	{{isMergerPE(chainElement)}}
	{{chainElementId}}
	<ol ng-if="branches.length > 1"
		ng-include="'/h/dev/sah/p5-view/app/ui/brancheOl.html'">
	</ol>
	<div ng-if="processBranches.merger">
		Продовження:
		<div
			ng-repeat="(chainStartOutgoingId, mergerBranche) in processBranches.merger">
			{{chainStartOutgoingId}}
			(для<span ng-repeat="chainId in mergerBranche">
			{{$first?'':','}}
			{{processBranches.branches.indexOf(chainId) + 1}}</span>)
			<ul ng-include="'/h/dev/sah/p5-view/app/ui/chainUl.html'">
		</ul>
		</div>
	</div>
</li>
