<div id="menu-fix-top" class="no-print">
	<div>
		<ul>
			<li class="pull-right" style="list-style-type: none;">
				<div ng-include="'/h/dev/sah/p5-view/app/ui/loginLink.html'"></div>
			</li>
			<li>
			</li>
			<li><a href="/"><i class="fa fa-home" aria-hidden="true">
			</i>{{'sah_abbr' | translate}}<i class="fa fa-angle-double-right"
					aria-hidden="true"></i> </a></li>
			<li><a href="#"> <i class="fa fa-codepen" aria-hidden="true"></i>
					<span ng-bind="obj.data.protocolMenuName">doc</span></a></li>
			<li>
				<div class="tooltip2">
					<a href="#"> <i class="fa fa-angle-double-down"
						aria-hidden="true"></i>
						{{'menu_index' | translate}}
					</a>
					<div class="tooltiptext">
						<div ng-repeat="path in obj.data.init.camundaAppendix.bpmn">
							<a href="#{{path.path}}"> {{path.path}} </a>
						</div>
						<div ng-repeat="path in obj.data.init.camundaAppendix.dmn">
							<a href="#{{path.path}}"> {{path.path}} </a>
						</div>
						<div>
							<a href="#doc_head">
						{{'menu_doc_head' | translate}}
							</a>
						</div>
					</div>
				</div>
			</li>
			<li><a href="#" ng-click="createNewBpmn()">{{'menu_new_bpmn' | translate}}</a>
			<li><a href="#" ng-click="createNewDMN()">{{'menu_new_dmn' | translate}}</a></li>
			<li><h3
					ng-click="openPanel = openPanel!='openMarkers'?'openMarkers':''">
					<small> <i class="fa fa-bars" aria-hidden="true"></i>
					</small>Маркери
				</h3>
				<div ng-if="openPanel == 'openMarkers'">---</div></li>
			<li>
				<h3
					ng-click="openPanel = openPanel!='openOtherProtocol'?'openOtherProtocol':'' ">
					<small> <i class="fa fa-bars" aria-hidden="true"></i>
					</small> Протоколи
				</h3>
				<div ng-if="openPanel == 'openOtherProtocol'">
					<div ng-include="'/h/dev/sah/p5-view/app/ui/protocolFileList.html'"></div>
				</div>
			</li>
			<li><a
				href="/h/dev/sah/p5-view/dist/devFlowAsTree.html?p={{params.p}}">
					dev </a></li>
		</ul>
		<div class="row">
			<div class="col-md-2  pull-right"></div>
		</div>
	</div>
</div>