<div id="menu-fix-top" class="no-print">
	<div >
		<ul>
			<li class="pull-right">
				<div ng-include="'/h/dev/sah/p5-view/app/ui/loginLink.html'"></div>
			</li>
			<li><a href="/"><i class="fa fa-home" aria-hidden="true"></i>
					САХ <i class="fa fa-angle-double-right" aria-hidden="true"></i> </a></li>
			<li><a href="#"> <i class="fa fa-codepen" aria-hidden="true"></i>
					<span ng-bind="obj.data.protocolMenuName">doc</span></a></li>
			<li>
				<div class="tooltip2">
					<a href="#"> <i
						class="fa fa-angle-double-down" aria-hidden="true"></i> індекс
					</a>
					<div class="tooltiptext">
						<div ng-repeat="path in obj.data.init.camundaAppendix.bpmn">
							<a href="#{{path.path}}"> {{path.path}} </a>
						</div>
						<div ng-repeat="path in obj.data.init.camundaAppendix.dmn">
							<a href="#{{path.path}}"> {{path.path}} </a>
						</div>
					</div>
				</div>
			</li>
			<li><a href="#" ng-click="createNewBpmn()">нова блоксхема</a>
			<li><a href="#" ng-click="createNewDMN()">нові правила</a>
			</li>
		</ul>
		<div class="row">
			<div class="col-md-2  pull-right">
			</div>
		</div>
	</div>
</div>