<!-- 
<hr/>
 -->
<table class="table table-bordered">
	<tr
		ng-repeat="parallelOneTable in getParallelGatewayOneTable(bpmnNr, chainElement)"
		ng-init="sourceRef = parallelOneTable.flowTableElement.node.attr.sourceRef;
		ruleNr = $index;
		ruleHead = $index%2 == 0;
		ruleBody = $index%2 == 1;
		">
		<td>
		<div ng-if="ruleHead">
				<b> {{getBpmnInit(bpmnNr).bpmnProcessElements[parallelOneTable.userTaskId].attr.name}} </b> <br />
				------123-
				<span class="bg-info">
					{{parallelOneTable.dmn.xmldoc.descendantWithPath('decision.decisionTable.output').attr.description}}
					</span>
			</div>
			<div ng-if="ruleBody">
			{{parallelOneTable.dmn.xmldoc.descendantWithPath('decision.decisionTable.input').attr.label}}
			</div>
		</td>
		<td width="8%" class="bg-info">
			<div ng-if="ruleHead">
			{{parallelOneTable.dmn.xmldoc.descendantWithPath('decision.decisionTable.output').attr.value}}
			</div>
			<div ng-if="ruleBody">
			{{parallelOneTable.dmn.xmldoc.descendantWithPath('decision.decisionTable.output').attr.expInput}}
			</div>
		</td>
		<td
			ng-repeat="rule in parallelOneTable.dmn.xmldoc.descendantWithPath('decision.decisionTable').childrenNamed('rule')"
			ng-click="setRuleState2(parallelOneTable.dmn, rule)"
			ng-class="{'bg-info':parallelOneTable.dmn.xmldoc.descendantWithPath('decision.decisionTable.output').attr.value
			== rule.descendantWithPath('outputEntry.text').val}"
		title="{{rule.descendantWithPath('description').val}}"
			>
			<div ng-if="ruleHead">
				{{rule.descendantWithPath('outputEntry.text').val}}</div>
			<div ng-if="ruleBody">
				{{rule.descendantWithPath('inputEntry.text').val}}</div>
		</td>
	</tr>
</table>
