<h3>
{{'clinicalProtocols' | translate}}
</h3>

<div>
	<ul class="nav nav-tabs">
		<li ng-class="{'active':userState.tabs1 == 'home_writing_file'}"><a
			href="#" ng-click="setTabs1('home_writing_file')">{{'home_writing_file' | translate}}</a></li>
		<li ng-class="{'active':userState.tabs1 == 'home_deploy_test'}"><a href="#"
			ng-click="setTabs1('home_deploy_test')">{{'home_deploy_test' | translate}}</a></li>
		<li ng-class="{'active':userState.tabs1 == 'home_performed'}"><a href="#"
			ng-click="setTabs1('home_performed')">{{'home_performed' | translate}}</a></li>
	</ul>
	<div ng-if="userState.tabs1 == 'home_writing_file'">
		<div ng-include="'/h/dev/sah/p5-view/app/ui/protocolFileList.html'"></div>
	</div>
	<div ng-if="userState.tabs1 == 'home_deploy_test'">
		<h5>Процеси</h5>
		<ul>
			<li ng-repeat="procDef in readAllDeployment.ACT_RE_PROCDEF"><span
				class="showhim"> <b> {{procDef.KEY_}} </b> : 
				<i class="fa fa-bars" aria-hidden="true"></i>
				<span
					class="showme"> <a href="#" ng-click="showProcessActiviti(procDef.ID_)"> <i
							class="fa fa-folder-open-o" aria-hidden="true"></i> активності
					</a> <a href="#" ng-click="startProcess(procDef.KEY_)"
						title="старт процес"> <i class="fa fa-cog" aria-hidden="true"></i>
							старт
					</a></span>
			</span>
			</li>
		</ul>
		<h5>
			{{'deployed' | translate}} <small> <span
				class="glyphicon glyphicon-wrench" aria-hidden="true"></span> <span
				class="glyphicon-class"></small>
		</h5>
		<ul>
			<li ng-repeat="deployment in readAllDeployment.ACT_RE_DEPLOYMENT">
				<span title="{{deployment.ID_}}"> {{deployment.NAME_}} </span>
				<ul>
					<li ng-repeat="procDef in readAllDeployment.ACT_RE_PROCDEF"
						ng-if="procDef.DEPLOYMENT_ID_ == deployment.ID_"><span>
							<b> {{procDef.KEY_}} </b> : {{procDef.RESOURCE_NAME_}}
					</span></li>
				</ul>
				<ul>
					<li
						ng-repeat="decisionDef in readAllDeployment.ACT_RE_DECISION_DEF"
						ng-if="decisionDef.DEPLOYMENT_ID_ == deployment.ID_"><span>
							<b> {{decisionDef.KEY_}} </b> : {{decisionDef.RESOURCE_NAME_}}
					</span></li>
				</ul>
			</li>
		</ul>
	</div>
	<div ng-if="userState.tabs1 == 'home_performed'">
		<h4>
			Виконуються <small> <b> {{processActiviti.procDefId}} </b>
			</small>
		</h4>
		<ul>
			<li ng-repeat="pA in processActiviti.actInstList">{{pA.START_TIME_
				| date:'yyyy-MM-dd HH:mm:ss'}} <span ng-if="!pA.END_TIME_">
					{{pA.ACT_NAME_}} </span> <span ng-if="pA.END_TIME_"
				title="Тривалість {{pA.DURATION_ | date:'dd HH:mm:ss'}}"> <b>Закінчено</b>
					{{pA.END_TIME_ | date:'dd-MMM HH:mm:ss'}}
			</span> <span class="showhim"> <small> <span
						title="Історія хвороби / інстанція протоколу"> ІХ<sup>№</sup>:
							{{pA.PARENT_ACT_INST_ID_}}
					</span> / <span title="Запис в ІХ / рекомендації протоколу"> {{pA.TASK_ID_}} </span>
				</small> <i
					class="fa fa-bars" aria-hidden="true"></i> <span class="showme">
						<a href="#"
						ng-click="collectMedData(pA.PARENT_ACT_INST_ID_, pA.TASK_ID_)">
							Зібрати дані </a>
				</span>
			</span>
				<div ng-if="pA.END_TIME_">
					<span ng-repeat="varInst in processActiviti.varInstList"
						ng-if="pA.TASK_ID_==varInst.AITASKID"> <span
						ng-if="varInst.NAME_.indexOf('__')>0 && varInst.TEXT_.length>0">
							<b> Рекомендовано </b>
					</span> <span
						ng-init="labelKey = varInst.NAME_.indexOf('__')>0?varInst.NAME_.split('__')[1]:varInst.NAME_;
					variable=!dictionary[labelKey]?labelKey:dictionary[labelKey].label">
							{{!varInst.TEXT_?'':variable + ': ' + varInst.TEXT_}} </span> <span
						ng-if="!$last">,</span> <span ng-if="$last">.</span>
					</span>
				</div>
				<!-- 
				<div ng-if="pA.TASK_ID_ == collectData.taskInst.ID_ && openDmnVariable" class="alert alert-success">
				<div ng-if="pA.TASK_ID_ == collectData.taskInst.ID_ && openDmnVariable" class="alert alert-info">
				 -->
				<div ng-if="pA.TASK_ID_ == collectData.taskInst.ID_ && pA.TASK_ID_ == openDmnVariable" class="alert alert-info">
					<span title="{{collectData.taskInst.TASK_DEF_KEY_}}">
						{{collectData.taskInst.NAME_}} -> {{nextTask.attr.name}} </span>
					<div ng-if="!pA.END_TIME_">
						<span ng-repeat="dmnInput in ask.dmnInputs"> 
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							{{dmnInput.attr.label}}? <input ng-model="dmnInput.attr.value"
							maxlength="3" size="4">
						</span>
						<button
							ng-click="saveProcessVariable(pA.PARENT_ACT_INST_ID_, pA.TASK_ID_)">запис
							даних</button>
					</div>
					<!-- 
					<div class="alert alert-warning">
					 -->
					<div class="alert-warning">
						Правила:
						<div ng-include="'/h/dev/sah/p5-view/app/ui/show-rules.html'"></div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>

<hr/>
Навчання:
<a href="/h/dev/sah/protocol1/protocol2.html">
/h/dev/sah/protocol1/protocol2.html
</a>⁋
