<h3>Протоколи</h3>
<div class="row">
	<div class="col-md-3">
		<div ng-include="'/h/dev/sah/p5-view/app/ui/protocolFileList.html'"></div>
	</div>

	<div class="col-md-4">
		<h4>Тестування/Розгорнуті</h4>
		<h5>Процеси</h5>
		<ul>
			<li ng-repeat="procDef in readAllDeployment.ACT_RE_PROCDEF"><span
				class="showhim"> <b> {{procDef.KEY_}} </b> : 
				<i class="fa fa-bars" aria-hidden="true"></i>
				<span
					class="showme"> <a href="#" ng-click="showProcessActiviti(procDef.ID_)"> <i
							class="fa fa-folder-open-o" aria-hidden="true"></i> активності
					</a> <a href="#" ng-click="startProcess(procDef.KEY_)"
						title="старт процес"> <i class="fa fa-cog" aria-hidden="true"></i>
							старт
					</a></span>
			</span>
			</li>
		</ul>
		<h5>Розгорнуто
		<small>
		<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> <span class="glyphicon-class">
		</small>
		</h5>
		<ul>
			<li ng-repeat="deployment in readAllDeployment.ACT_RE_DEPLOYMENT">
				<span title="{{deployment.ID_}}"> {{deployment.NAME_}} </span>
				<ul>
					<li ng-repeat="procDef in readAllDeployment.ACT_RE_PROCDEF"
						ng-if="procDef.DEPLOYMENT_ID_ == deployment.ID_"><span>
							<b> {{procDef.KEY_}} </b> : {{procDef.RESOURCE_NAME_}}
					</span></li>
				</ul>
				<ul>
					<li
						ng-repeat="decisionDef in readAllDeployment.ACT_RE_DECISION_DEF"
						ng-if="decisionDef.DEPLOYMENT_ID_ == deployment.ID_"><span>
							<b> {{decisionDef.KEY_}} </b> : {{decisionDef.RESOURCE_NAME_}}
					</span></li>
				</ul>
			</li>
		</ul>
	</div>

	<div class="col-md-5">
		<h4>Виконуються
		<small>
		{{processActiviti.procDefId}}
		</small>
		</h4>
		<ul>
			<li ng-repeat="pA in processActiviti.list">{{pA.START_TIME_ |
				date:'yyyy-MM-dd HH:mm:ss'}} {{pA.ACT_NAME_}} <span class="showhim">
					<a href="#"
					ng-click="executeTask(pA.PARENT_ACT_INST_ID_, pA.TASK_ID_)">
						{{pA.PARENT_ACT_INST_ID_}} / {{pA.TASK_ID_}} </a> <i
					class="fa fa-bars" aria-hidden="true"></i> <span class="showme">
						<a href="#"
						ng-click="collectMedData(pA.PARENT_ACT_INST_ID_, pA.TASK_ID_)">
							Зібрати дані </a>
				</span>
			</span>
				<div ng-if="pA.TASK_ID_ == collectData.taskInst.ID_">
					<span title="{{collectData.taskInst.TASK_DEF_KEY_}}">
						{{collectData.taskInst.NAME_}} </span> <span
						ng-bind="nextTask(collectData.taskInst.TASK_DEF_KEY_)"></span>
					<div ng-repeat="dmnInput in collectData.ask.dmnInputs">
						{{dmnInput.attr.label}}?
					</div>
				</div>
			</li>
		</ul>
		<!-- 
		<table class="table">
			<tr>
				<th>Час старту</th>
				<th>ID</th>
			</tr>
			<tr ng-repeat="pA in processActiviti.list">
				<td>{{pA.START_TIME_ | date:'yyyy-MM-dd HH:mm:ss'}}</td>
				<td><span class="showhim"> <a href="#"
						ng-click="executeTask(pA.PARENT_ACT_INST_ID_, pA.TASK_ID_)">
							{{pA.PARENT_ACT_INST_ID_}} / {{pA.TASK_ID_}} </a> <i
						class="fa fa-bars" aria-hidden="true"></i> <span class="showme">
							<a href="#" ng-click="collectData(pA.PARENT_ACT_INST_ID_, pA.TASK_ID_)">
							Зібрати дані
							</a>
							</span>
				</span></td>
			</tr>
		</table>
		 -->
	</div>

</div>
