<table class="table table-bordered">
	<tr
		ng-repeat="chainElementId in getBpmnInit(bpmnNr).processChains[chainStartOutgoingId]"
		ng-init="
	processBranches = getBpmnInit(bpmnNr).processBranches[chainElementId];
	chainElement = getBpmnInit(bpmnNr).bpmnProcessElements[chainElementId];
	branches = chainElement.childrenNamed('bpmn:outgoing');
	"
		ng-if="isChainPEToView(getBpmnInit(bpmnNr).bpmnProcessElements[chainElementId])">
		<td>
			<span ng-include="'/h/dev/sah/p5-view/app/ui/viewChainElement.html'">
			</span>
			<div ng-if="isViewChoiceDmn(bpmnNr, chainElement)"
				ng-init="businessRuleTask = getBpmnInit(bpmnNr).bpmnProcessElements[chainElement.attr.targetRef];
				editorBpmnNr = bpmnNr;
				">
				<div
					ng-include="'/h/dev/sah/p5-view/app/ui/choiceDmnToBusinessRule.html'"></div>
			</div>
			<span ng-if="isViewBusinesRule(bpmnNr, chainElement)"
				ng-init="businessRuleTask = getBpmnInit(bpmnNr).bpmnProcessElements[chainElement.attr.targetRef];
				dmnIndex = dmnIndexMap[businessRuleTask.attr['camunda:decisionRef']];
	nextDmn = obj.data.init.camundaAppendix.dmn[dmnIndex];
				">
<span
	ng-if="nextDmn.xmldoc.descendantWithPath('decision.decisionTable').attr.clickRuleChoice"
	ng-include="'/h/dev/sah/p5-view/app/ui/viewClickRuleChoice.html'"></span>
<div ng-include="'/h/dev/sah/p5-view/app/ui/show-rules.html'"></div>
			</span>
			<div ng-if="isViewParallelGatewaOneTable(bpmnNr, chainElement)">
				<div
					ng-include="'/h/dev/sah/p5-view/app/ui/parallelGatewayDmnAsOneTable2.html'">
				</div>
			</div>
			<div ng-if="isViewBasic(bpmnNr, chainElement)">
				<table class="table table-striped" ng-if="branches.length > 1"
					ng-include="'/h/dev/sah/p5-view/app/ui/brancheTD.html'">
				</table>
			</div>
			<table class="table table-striped" ng-if="processBranches.merger">
				<tr>
					<td
						ng-repeat="(chainStartOutgoingId, mergerBranche) in processBranches.merger">
						<div ng-include="'/h/dev/sah/p5-view/app/ui/useFlowAsTable.html'">
						</div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
