@media print {
	a[href]:after {
		content: none;
	}
	.no-print, .no-print * {
		display: none !important;
	}
}

.hr_text a, .hr_text span {
	margin-top: -34px;
	background: #fff;
	padding: 2px 6px;
	float: left;
}

.bold{
	font-weight: bold;
}

.showme{ 
display: none;
}
.showhim:hover .showme{
display : inline;
}

.well-menu{
	padding-top: 1px !important; 
	padding-bottom: 1px !important;
}
.navcontainer > ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	border: 1px solid #e7e7e7;
	background-color: #f3f3f3;
}

.navcontainer > ul > li {
	display: inline;
	padding: 4px 8px;
}
.navcontainer > ul > li a {
	text-decoration: none;
	color: #666;
}
.navcontainer > ul > li a:hover {
	background-color: #ddd;
}

.tooltip2 {
	display: inline-block;
	z-index: 1000;
}
.tooltip2 .tooltiptext {
	visibility: hidden;
	position: absolute;
	border: 1px solid #e7e7e7;
	background-color: #f3f3f3;
	padding: 12px 16px;
}
.tooltip2:hover .tooltiptext {
	visibility: visible;
}
